@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body.root-body {
  font-family: "Barlow", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0 0;
}

body.modal-open {
  height: 100vh;
  overflow-y: hidden;
}

body.root-body .min-h-screen-with-header {
  min-height: calc(100vh - 72px - 3rem);
}

.h-data-table {
  min-height: calc(100vh - 240px);
}

.ant-spin-container {
  min-height: calc(100vh - 210px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ant-table-container {
  border-bottom: none !important;
}

.ant-table-tbody > tr:last-child > td {
  border-bottom: none;
}

th.ant-table-cell {
  /* clamp use ... */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: transparent !important;
}
